{% extends 'base.html' %}
{% block body %}
   <section id="main-menu" class="menu-cart scroll-reveal">
       <div class="container">

        <img class="meal_img" src="{{meal_detail.image.url}} " alt="">
        <h2>{{meal_detail}}</h2>
        <p>{{meal_detail.description}}</p>
        <p>for: {{meal_detail.people}} People</p>
        <p>Preparation Time: {{meal_detail.preperation_time}} Minutes</p>
        <p>Price: {{meal_detail.price}} Ft</p>
       </div>
       <!--.container-->
   </section>
   <!--.menu-cart-->
   {% endblock body%}

   